.login{
	/*height: 400px;*/
	background-color: #FFFFFF;
	padding-left: 50px;
	border: 1px solid #d8dee2;
	border-radius:5px;
}
.logo{
	font-size: 20px;
	text-align:center;
}
.sumDiv{
	width: 300px;
	margin: 0 auto;
}
.form_input_class{
	width: 200px;
}