<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加分类</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/addClassify.css" type="text/css" />
    <link rel="stylesheet" href="/css/all.css" type="text/css" />
    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>
<style>

</style>

<body class="backdrop">
<div style="margin-top: 10%;" class="sumDiv">
    <div>
        <p class="logo">欢迎来到沐小肥英语练习基地</p>
    </div>
    <div class="login">
        <div style="height: 40px;"></div>
        <form >
            <div class="form-group">
                <label>分类名称</label>
                <input type="text" class="form-control form_input_class" id="name" placeholder="分类名称">
            </div>
            <input th:if="${userId}!=null" type="hidden" id="userId" th:value="${userId}" />
            <button type="button" class="btn btn-success" id="sigh_in">确定</button>
            <div style="height: 20px;"></div>
        </form>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
</body>
<script>

    $("#sigh_in").click(function(){
        var name = $("#name").val();
        var userId = $("#userId").val();
        if(name == '' ){
            return alert("请输入分类名称");
        }

        $.ajax({
            url:"/classify/addClassify",
            type:'post',//HTTP请求类型
            data: {'name':name,'userId':userId},
            success:function(data){
                console.log(data);
                if (data == 2){
                    alert("已存在该分类");
                }else if (data == 0){
                    alert("添加失败,请联系小肥");
                } else{
                    alert("注册成功，点确定返回");
                    window.location.href="/classify/queryClassify"
                }
            }
        });
    })
</script>
</html>
